{% extends 'base.html' %}
{% block title %}
    ShopBuddy
{% endblock title %}


{% block body %}
    <div class="container">
        <div class="form d-flex justify-content-center align-items-center" style="height: 600px;">
            <div class="col-6 ">
                <div class="col-10 mx-auto p-4">
                    <img style="width:100%"  src="{{ url_for('static', filename='logo.jpeg') }}" />
                </div>
                <form class="mx-auto col" action="/search/results/" method="POST" name="q">
                    <div class="mx-auto col">
                        <div>Search On:</div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ebay" value="edit"> Ebay
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="amasample" value="edit"> Amasample
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex">
                        <input type="text" class="form-control" name="_data" id="inputtext">
                        <input type="submit" class="btn btn-primary mx-2" value="Q">
                       
                    </div>

                </form>
            </div>
        </div>
    </div> 
{% endblock body %}

